<h1>Recipes#index</h1>

<table>
  <tr>
    <th></th>
    <th>Title</th>
    <th>Social Rank</th>
  </tr>
  <% @recipes.each do |a_recipe| %>
    <% title = sanitize (a_recipe['title']) %>
    <% source_url = a_recipe['source_url'] %>
    <tr>
      <td><%= link_to (image_tag a_recipe['image_url'], {height: 100, width: 100}), source_url %></td>
      <td><%= link_to title, source_url %></td>
      <td><%= a_recipe['social_rank'] %></td>
    </tr>
  <% end %>
</table>
